.DS_Store
*.o
*.obj
*.exe
*.out
*.bin
*.a
*.so
*.dll
*.log
*.db
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*.dSYM/
*.vcxproj*
*.sln
*.cproj
build/
CMakeFiles/
cmake-build*/
*.orig
*.core
*.tmp
*.test
*.t
.turd*
__pycache__/
.env
